body {
  font-family: "Nunito", Helvetica, sans-serif;
  margin: 0px;
}

/* Resetando estilos */

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

.horario {
  background-color: #18e;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 32px;
}

/* Header*/

.header {
  background-color: #17222d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 11px 0px 11px 45px;
}

.menu {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}

.menu li:last-child {
  margin-right: 45px;
}

.menu li span::after {
  content: " ";
  background-color: #17222d;
  display: inline-block;
  height: 4px;
  width: 4px;
  border: #fff solid 2px;
  border-radius: 6px;
  margin-left: 15px;
  margin-bottom: 1px;
}

.menu li:last-child span::after {
  content: " ";
  border-radius: 0px;
  margin-left: 0px;
  border-radius: 0px;
  border: none;
  background-color: #d91504;
  display: block;
  width: 106px;
  height: 2px;
}

/* Introdução */

/*.introducao-bg {
  padding: 200px 45px;
  background-image: url("./img/seth-doyle-151914.jpg");
}*/

.introducao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  padding-top: 280px;
  padding-bottom: 44px;
  background-image: url("img/bg-intro@2x.jpg");
  background-size: cover;
}

.introducao img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.introducao h1 {
  font-family: "Alice", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 72px;
  margin-left: 45px;
  color: #fff;
}

.introducao form {
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 0px 12px 15px;
  border-radius: 4px;
}

.introducao input[type="email"] {
  color: #000;
}

.introducao input {
  border: none;
  font-size: 18px;
}

.introducao a {
  background-color: #ff3726;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 38px 12px 15px;
  border-radius: 4px;
}

/* Localização */

.localizacao {
  display: grid;
  justify-content: center;
  /* justify content: center;*/
  /* grid-template-columns: 570px 570px;*/
  grid-template-columns: minmax(20%, 570px) minmax(20%, 470px);
  margin-top: 60px;
  column-gap: 130px;
}

.localizacao h1 {
  font-family: "Alice", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 90%;
}

.descricao {
  display: grid;
}

.descricao ul {
  font-size: 24px;
  color: #456;
  margin-top: 60px;
  display: grid;
  gap: 60px;
}

.descricao p {
  font-size: 18px;
  color: #456;
  margin-top: 40px;
}

.descricao h1 span {
  color: #18e;
}

.descricao ul span::before {
  content: " ";
  display: block;
  max-width: 360px;
  height: 2px;
  background: #eff4f9;
  margin-bottom: 32px;
  margin-top: 40px;
}

.descricao p + p {
  margin-top: 30px;
}

.descricao-item {
  display: flex;
  gap: 40px;
  align-items: center;
}

.container-mapa {
  position: relative;
}

.mapa {
  position: relative;
  bottom: 50px;
  left: 12px;
}

.endereco {
  position: relative;
  bottom: 120px;
}

.endereco h2 {
  font-size: 14px;
  font-weight: bold;
  color: #17222d;
}

.endereco h2::before {
  content: " ";
  background-color: #fff;
  display: inline-block;
  height: 4px;
  width: 4px;
  border: #d91504 solid 2px;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 1px;
}

.endereco li {
  color: #99aabb;
  font-size: 14px;
}
.endereco span {
  color: #000;
  font-weight: bold;
}

.endereco span::before {
  content: " ";
  background-color: #18e;
  display: inline-block;
  height: 2px;
  width: 10px;
  margin-right: 4px;
  margin-bottom: 4px;
}

/* AULAS */

.aulas-container {
  position: relative;
  display: grid;
  background-color: #eff4f9;
  justify-content: center;
  grid-template-columns: minmax(0, 370px) minmax(0, 370px) minmax(0, 370px);
  gap: 30px;
  margin-top: 90px;
}

.ondas {
  position: absolute;
  justify-self: center;
  top: -35px;
}

.aulas-container h1 {
  font-family: "Alice", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 62px;
  margin-top: 24px;
}

/* DETALHE 
.aulas-container h1::before {
  content: " ";
  background-color: #18e;
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  transition: width 0.2s;
}
*/

.aulas-titulo {
  grid-column: 1/-1;
  text-align: center;
}

.aulas-container p {
  grid-column: 1/-1;
  text-align: center;
}

.aulas-item {
  background-color: #fff;
  padding: 30px 70px 114px 70px;
  position: relative;
}

.aulas-item span {
  position: absolute;
  display: flex;
}

.aulas-item:nth-of-type(1) span {
  top: -20px;
  left: 174px;
}

.aulas-item:nth-of-type(2) span {
  top: -20px;
  left: 163px;
}

.aulas-item:nth-of-type(3) span {
  top: -20px;
  left: 153px;
}

.aulas-item h2 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #456;
}

.aulas-item ul {
  color: #456;
  font-size: 14px;
  line-height: 1.8;
  margin-top: 47px;
  margin-bottom: 47px;
}

.aulas-item h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  color: #18e;
  margin-bottom: 23px;
}

.aulas-item a {
  background-color: #456;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 9px 85px 9px 12px;
}

.aulas-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 60px;
}

.aulas-container p span {
  color: #d91504;
  font-weight: bold;
}

/* FRASE */

.frase {
  background-image: url("img/foto-quote@2x.jpg");
  background-size: cover;

  color: #fff;
  text-align: center;
}

.frase h1 {
  font-family: "Alice", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 62px;
  line-height: 0.9;
  padding-top: 90px;
  margin-bottom: 34px;
}

.frase h3 {
  padding-bottom: 170px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}

/* Contato */
.contato-container {
  display: grid;
  column-gap: 230px;
  justify-content: center;
  grid-template-columns: minmax(0%, 470px) minmax(0%, 470px);
  margin-top: 40px;
}

.contato-container h1 {
  font-family: "Alice", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 72px;
  grid-column: 1/-1;
  text-align: center;
}

.form label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 10px;
}

.form input,
.form textarea {
  /*
  font: 400 1rem/1.5;
  border: 1px solid;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  */
  background-color: #eff4f9;

  border: none;
  width: 100%;
  padding: 12px 0px 12px 0px;
  margin-bottom: 15px;
}

.botao {
  font-family: "Nunito", Helvetica, sans-serif;
  font-weight: bold;
  padding: 12px 32px 12px 15px;
  text-transform: uppercase;
  background-color: #456;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Info */

.info a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.info ul li {
  font-size: 18px;
  font-weight: normal;
}

.info2 {
  margin-top: 12px;
}

/* Footer*/

.footer {
  display: flex;
  width: 100%;
  height: 118px;
  align-items: center;
  justify-content: space-between;
  background-color: #18e;
  color: #fff;
  margin-top: 114px;
}

.footer p {
  margin-left: 145px;
}

.footer img {
  margin-right: 60px;
}
